services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3200:3200"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3200
      - HOSTNAME=0.0.0.0
    restart: unless-stopped
